<DOCTYPE! html>
<head>
    
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Appliances</h1>
        </div>
    </div>
    
    
</body>





</html>
    