<DOCTYPE! html>
<head>
<body>
    
    <div class="jumbotron">
        <div class="container">
            <h1>Electronics</h1>
        </div>
    
    </div>    
        <div class="container">
    <div class="row">
      <div class="col-md-8">
          <img src="http://lcdn.1stopbedrooms.com/media/catalog/product/cache/1/image/cc0ec2d91bc4dd8becc1b9167d5c2be1/8/0/8064uset.jpg">    
      </div>
      <div class="col-md-4">
          <h2> <font color="white">Ashley B138 bedroom set </h2>
          <p><font color="white"></p>Queen bed/dressor/mirror/Nightstand 
          Cash Price:  $299.95* 
          Call our store or <%= link_to "Apply Now", apply_path %> for payment options</font></p>
      </div>
     </div>
     

    
    <div class="row">
      <div class="col-md-8">
          <img src="http://lcdn.1stopbedrooms.com/media/catalog/product/cache/1/image/cc0ec2d91bc4dd8becc1b9167d5c2be1/8/0/8064uset.jpg">    
      </div>
      <div class="col-md-4">
          <h2> <font color="white">Ashley B138 bedroom set</font></h2>
          <p><font color="white">Queen bed/dressor/mirror/Nightstand</font></p>
          <p><font color="white">Cash Price:  $299.95*</font></p>
          <p><font color="white">Call our store or <%= link_to "Apply Now", apply_path %> for payment options</font></p>
      </div>
     </div>
     
     
     
    <div class="row">
      <div class="col-md-8">
          <img src="http://lcdn.1stopbedrooms.com/media/catalog/product/cache/1/image/cc0ec2d91bc4dd8becc1b9167d5c2be1/8/0/8064uset.jpg">    
      </div>
      <div class="col-md-4">
          <h2> <font color="white">Ashley B138 bedroom set</font></h2>
          <p><font color="white">Queen bed/dressor/mirror/Nightstand</font></p>
          <p><font color="white">Cash Price:  $299.95*</font></p>
          <p><font color="white">Call our store or <%= link_to "Apply Now", apply_path %> for payment options</font></p>
      </div>
     </div>
</div>
    
    
</body>
</head>

</html>