<DOCTYPE! html>
<head>
    <title>Furnish your home in style!</title>
</head>

<div class="jumbotron">
    
        <body>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="">
                        <div class="caption">
                            <h3>Bedroom</h3>
                            <p>Choose from a wide selection of beds and mattresses.</p>
                            <p><a href="#" class="btn btn-primary" role="button">BEDS</a></p>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="">
                        <div class="caption">
                            <h3>Living Room</h3>
                            <p>The best selection of sofas, loveseats, and recliners.</p>
                            <p><a href="#" class="btn btn-primary" role="button">SOFA</a></p>
                        </div>
                    </div>
                </div>
            </div>
       
        
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="">
                        <div class="caption">
                            <h3>Appliances</h3>
                            <p>Find the best in ranges, refrigerators, and laundry units</p>
                            <p><a href="#" class="btn btn-primary" role="button">APPLIANCE</a></p>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="">
                        <div class="caption">
                            <h3>Electronics</h3>
                            <p>Find the best in laptops, gaming systems, tv's and more!!</p>
                            <p><a href="#" class="btn btn-primary" role="button">Electronics</a></p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </body>
    
</div>

</html>

