// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    text-align: center;
    
    border-radius:18px;

}



body{
    background-image: url("http://i2.ypcdn.com/blob/d15b92738a82ef593a8ba28cc23a3c6de9f9338e_500.jpg");
}


    
.row{
    position:relative;
    clear:left;
    width:100%;
}

.thumbnail{
    height: 400px;
}

a {
    left: 10px;
}

#footer{
    clear:both;
    margin-top:20px;
    border-top:solid 2px black;
}